body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0d1117;
  color: #ffffff;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #1f6feb, #238636);
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  font-size: 1.1rem;
  margin-top: 10px;
  opacity: 0.9;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.menu-btn {
  width: 80%;
  max-width: 400px;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #30363d;
  color: white;
  transition: 0.3s;
  align-self: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn:hover {
  background: #484f58;
  transform: scale(1.03);
}

.menu-btn.quiz {
  background: #1f6feb;
}

.card {
  text-align: start;
  padding: 25px;
  background: #161b22;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 0 10px #00000055;
}

.content {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card ul {
  padding-left: 0;
  list-style-position: inside;
  margin-top: 10px;
}

.card h2, 
.card h3 {
  margin-bottom: 10px;
}

.back-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.audio-card {
  background: #161b22;
  padding: 25px;
  margin: 25px auto;
  border-radius: 10px;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 0 10px #00000055;
}

.audio-card h2 {
  margin-bottom: 15px;
  color: #58a6ff;
}

.audio-card audio {
  width: 100%;
  max-width: 500px;
  outline: none;
  border-radius: 8px;
}

.imagem {
  width: 900px;
  height: auto;
}
.card img {
  display: block;
  margin: auto;
  border-radius: 2px;
  max-width: 75%;
}
.vetor {
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 2px;
  max-width: 400px;
}
.vetor img {
  width: 100%;
  height: auto;
  display: block;
}

.question-card {
  background: #161b22;
  padding: 25px;
  border-radius: 10px;
  margin: 25px 0;
  box-shadow: 0 0 10px #00000055;
}

.options {
  list-style: none;
  padding: 0;
}

.options li {
  margin: 10px 0;
  background: #30363d;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.options li:hover {
  background: #484f58;
}

.submit-btn {
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background: #1f6feb;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}

.submit-btn:disabled {
  background: #30363d;
  cursor: not-allowed;
}

.result {
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.correct {
  background: #238636;
}

.incorrect {
  background: #da3633;
}

#video-container video {
  border-radius: 10px;
  box-shadow: 0 0 12px #00000088;
  max-width: 90%;
}

